@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url('/Inter_18pt-Regular.ttf');
}

@font-face {
  font-family: Space-Grotesk;
  src: url('/SpaceGrotesk-Bold.ttf');
}

body {
  margin: 0;
  background-color: #070B18;
}

h1, h2 {
  font-family: Space-Grotesk;
  color: #CCD3E8;
}

p {
  font-family: Inter;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}